transformers==4.46.0
datasets
torch
scikit-learn
shap
sentence-transformers
chromadb
fastapi
uvicorn
psycopg2-binary
sqlalchemy
python-dotenv
streamlit
plotly
pandas
numpy
tqdm
groq
huggingface_hub
vaderSentiment
wordcloud
matplotlib
requests
google-genai